              <div class="row g-4">
              
                <div class="col-sm-6 col-12">
                    <div class="card shadow-sm border-0 h-100 p-2 bg-light">
                        <div class="card-body d-flex flex-column align-items-center text-center">
                            <h2 class="card-title fw-bold text-success display-6 mb-1">
                                {{ statistics.checkout_rate }}%
                            </h2>
                            <p class="text-muted mb-1">Checkout Rate</p>
                            <div class="mb-3">
                                <info-button info="In the upper right corner of the game cards, you can set, how many darts you throwed on double, if you dont set it, the game will be ignored for the checkout statistic"></info-button>
                            </div>
                            <div class="position-relative w-100" style="height: 8px;"></div>
                        </div>
                    </div>
                </div>
              <div class="table-responsive mt-3">
                <table class="table table-sm table-striped mb-4">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <td>60+</td>
                            <td>{{ statistics.sixty_plus }}</td>
                        </tr>
                        <tr>
                            <td>80+</td>
                            <td>{{ statistics.eighty_plus }}</td>
                        </tr>
                        <tr>
                            <td>100+</td>
                            <td>{{ statistics.hundred_plus }}</td>
                        </tr>
                        <tr>
                            <td>140+</td>
                            <td>{{ statistics.hundred_forty_plus }}</td>
                        </tr>
                        <tr>
                            <td>180</td>
                            <td>{{ statistics.hundred_eighty }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
             
             {% include "statistics/partials/game_statistic_cards.html"  with statistic=statistics.single_player name='Single player' %}
             {% include "statistics/partials/game_statistic_cards.html"  with statistic=statistics.multiplayer name='Multiplayer'%}
            
           
            
             {% include "statistics/partials/collapsebal_table.html" with games=singleplayer_games name='Singleplayer' %}
             {% include "statistics/partials/collapsebal_table.html" with games=multiplayer_games name='Multiplayer' %}