
            
             {% include "statistics/partials/game_statistic_cards.html"  with statistics=singleplayer_statistics name='Single player' %}
             {% include "statistics/partials/game_statistic_cards.html"  with statistics=multiplayer_statistics name='Multiplayer'%}
            
            <div class="table-responsive mt-3">
                <table class="table table-sm table-striped mb-4">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <td>60+</td>
                            <td>{{ singleplayer_statistics.sixty_plus|add:multiplayer_statistics.sixty_plus }}</td>
                        </tr>
                        <tr>
                            <td>80+</td>
                            <td>{{ singleplayer_statistics.eighty_plus|add:multiplayer_statistics.eighty_plus }}</td>
                        </tr>
                        <tr>
                            <td>100+</td>
                            <td>{{ singleplayer_statistics.hundred_plus|add:multiplayer_statistics.hundred_plus }}</td>
                        </tr>
                        <tr>
                            <td>140+</td>
                            <td>{{ singleplayer_statistics.hundred_forty_plus|add:multiplayer_statistics.hundred_forty_plus }}</td>
                        </tr>
                        <tr>
                            <td>180</td>
                            <td>{{ singleplayer_statistics.hundred_eighty|add:multiplayer_statistics.hundred_eighty }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
             {% include "statistics/partials/collapsebal_table.html" with games=singleplayer_games name='Singleplayer' %}
             {% include "statistics/partials/collapsebal_table.html" with games=multiplayer_games name='Multiplayer' %}