{% extends "base.html" %}

{% load static %}

{% block title %}Multiplayer Game{% endblock %}

{% block header %}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div id="ws-connection" hx-ext="ws" ws-connect="/ws/{{ game.id }}/">
        <!-- Swappable game content -->
        <div id="game-content">
            {% include 'multiplayer/game/partials/game_card.html' %}
        </div>
    </div>
</div>

<!-- Back to Lobby -->
<div class="text-center mt-4">
    <a href="{% url 'home'%}" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left me-2"></i>
        Back to Home
    </a>
</div>

<script>
    // This assumes you have a WebSocket connection set up with the hx-ext="ws" attribute
    // HTMX provides a custom event for when a message is received
    document.body.addEventListener('htmx:wsAfterMessage', (evt) => {
      const data = JSON.parse(evt.detail.message);
      if (data.type === 'redirect') {
        window.location.href = data.url;
      }
    });
</script>
{% endblock %}


